# Database
MONGODB_URI=

# JWT
JWT_SECRET=

# Cloudinary
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=

# Client URLs (comma-separated if multiple)
CLIENT_URLS=https://your-domain.vercel.app
